@model Bringly.Domain.Business.BusinessObject
@{
    ViewBag.Title = "My Restaurant";
    Layout = "~/Views/Shared/MasterPages/AuthorizeUserMaster.cshtml";
}
@section BreadCrum{
    <li class="breadcrumb-item active">My Restaurant</li>
}

<div class="col-lg-9 col-md-7 col-sm-12">
    <div class="right-side">
        <div class="shadow-box MyRestaurantInfo">
            <div class="row-block">
                <h5 class="text-weight">My Restaurant</h5>
                <form method="post" class="mws-form" id="formrestaurent">
                    <div class="table-order divprofiledata">
                        <div class="sub-title">
                            <div class="row restaurentprofile">
                                <div class="col-lg-8 col-md-7 col-sm-12">
                                    <h5 class="m-0 text-weight">Basic Info</h5>
                                </div>
                                <div class="col-lg-4 col-md-5 col-sm-12">
                                    <div class="col-lg-6 col-md-6 col-sm-6 float-left display-none divprofileupdate">
                                        <p class="edit m-0 text-lg-right text-md-right text-left"><a href="#" onclick="updatebusinessprofile();"><i class="fa fa-pencil"></i> Update</a></p>
                                    </div><div class="col-lg-6 col-md-6 col-sm-6 float-left display-none divprofilecancel">
                                        <p class="edit m-0 text-lg-right text-md-right text-left"><a href="#" onclick="cancelbusinessprofile();"><i class="fa fa-pencil"></i> Cancel</a></p>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 divprofileedit">
                                        <p class="edit m-0 text-lg-right text-md-right text-left"><a href="#" onclick="editbusinessprofile();"><i class="fa fa-pencil"></i> Edit</a></p>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <input type="hidden" name="BusinessGuid" value="@Model.BusinessGuid" id="BusinessGuid" />
                        <div class="row">
                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td><label>Name:</label></td>
                                            <td class="data">@Html.TextBoxFor(m => m.BusinessName, new { @class = "form-control disabled-textbox", @disabled = "disabled" })</td>
                                        </tr>
                                        <tr>
                                            <td><label>Address:</label></td>
                                            <td class="data">
                                                @Html.TextBoxFor(m => m.Address, new { @class = "form-control disabled-textbox", @disabled = "disabled" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><label>City:</label></td>
                                            <td class="citydropdown display-none">
                                                @Html.DropDownListFor(m => m.CityGuid, new SelectList(Model.CityList, "CityGuid", "CityName", new { @class = "chosen-select", @placeholder = "Choose a category.." }))
                                            </td>
                                            <td class="cityname">
                                                <label id="CityName"> @Model.CityName</label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><label>P-number:</label></td>
                                            <td class="data">@Html.TextBoxFor(m => m.PNumber, new { @class = "form-control disabled-textbox", @disabled = "disabled" })</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td><label>Zip Code:</label></td>
                                            <td class="data">@Html.TextBoxFor(m => m.PinCode, new { @class = "form-control disabled-textbox", @disabled = "disabled" })</td>
                                        </tr>
                                        <tr>
                                            <td><label>Phone:</label></td>
                                            <td class="data">@Html.TextBoxFor(m => m.Phone, new { @class = "form-control disabled-textbox", @disabled = "disabled" })</td>

                                        </tr>
                                        <tr>
                                            <td><label>E-mail:</label></td>
                                            <td class="data">@Html.TextBoxFor(m => m.Email, new { @class = "form-control disabled-textbox", @disabled = "disabled" })</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="table-order divrestaurenttime">
                        <div class="sub-title">
                            <div class="row">
                                <div class="col-lg-8 col-md-7 col-sm-12">
                                    <h5 class="m-0 text-weight">Timings</h5>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-7 col-md-12 col-sm-12">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td style="width:67%"><label>Order Timings:</label></td>
                                            <td class="data">@Html.TextBoxFor(m => m.OrderTiming, new { @class = "form-control disabled-textbox", @disabled = "disabled" })</td>
                                        </tr>
                                        <tr>
                                            <td style="width:67%"><label>Pick Up Timings:</label></td>
                                            <td class="data">@Html.TextBoxFor(m => m.PickUpTiming, new { @class = "form-control disabled-textbox", @disabled = "disabled" })</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="table-order">
                        <div class="sub-title">
                            <div class="row">
                                <div class="col-lg-10 col-md-9 col-sm-12">
                                    <h5 class="m-0 text-weight">Tax Charges</h5>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-7 col-md-12 col-sm-12">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td style="width:67%"><label>Service Charge(%):</label></td>
                                            <td class="data">@Html.TextBoxFor(m => m.ServiceCharge, new { @class = "form-control disabled-textbox", @disabled = "disabled" })</td>
                                        </tr>
                                        <tr>
                                            <td style="width:67%"><label>Service Tax(%):</label></td>
                                            <td class="data">@Html.TextBoxFor(m => m.ServiceTax, new { @class = "form-control disabled-textbox", @disabled = "disabled" })</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="table-order">
                        <div class="sub-title">
                            <div class="row">
                                <div class="col-lg-10 col-md-9 col-sm-12">
                                    <h5 class="m-0 text-weight">Delivery Charges</h5>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-7 col-md-12 col-sm-12">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td style="width:67%"><label>Flat Rate Upto 2.5 Kms:</label></td>
                                            <td class="data">@Html.TextBoxFor(m => m.FlatRate, new { @class = "form-control disabled-textbox", @disabled = "disabled" })</td>
                                        </tr>
                                        <tr>
                                            <td style="width:67%"><label>Rate for each ½ kms after 2.5 Kms:</label></td>
                                            <td class="data">@Html.TextBoxFor(m => m.RateAfterKm, new { @class = "form-control disabled-textbox", @disabled = "disabled" })</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="table-order">
                        <div class="sub-title">
                            <div class="row">
                                <div class="col-lg-10 col-md-9 col-sm-12">
                                    <h5 class="m-0 text-weight">Description</h5>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <p class="px-3">
                                    @Html.TextAreaFor(m => m.Description, new { @class = "form-control disabled-textbox", @disabled = "disabled",@style= "height: 150px;" })                                   
                                </p>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="table-order">
                    <div class="sub-title">
                        <div class="row">
                            <div class="col-lg-10 col-md-9 col-sm-12">
                                <h5 class="m-0 text-weight">Restaurant Images</h5>
                            </div>
                            <div class="col-lg-2 col-md-3 col-sm-4">
                                <p class="edit m-0 text-lg-right text-md-right text-left"><a href="#"><i class="fa fa-pencil"></i> Edit</a></p>
                            </div>
                        </div>

                    </div>

                    <div class="Image-panel">
                        <div class="Add-Images">
                            <label class="custom-file">
                                <input type="file" id="file2" class="custom-file-input">
                                <span class="custom-file-control"></span>
                            </label>
                        </div>
                        <div class="thumbnail-card">
                            <img src="/templates/images/img-1.jpg" class="m-auto d-block" />
                        </div>
                        <div class="thumbnail-card">
                            <img src="/templates/images/img-2.jpg" class="m-auto d-block" />
                        </div>
                        <div class="thumbnail-card">
                            <img src="/templates/images/img-3.jpg" class="m-auto d-block" />
                        </div>
                        <div class="thumbnail-card">
                            <img src="/templates/images/img-4.jpg" class="m-auto d-block" />
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>






