@model  Bringly.Domain.User.UserRegistration
@{
    ViewBag.Title = "User Registration";
    Layout = "~/Views/Shared/MasterPages/AnonymousUser.cshtml";
    var s = Model;
}

 
<div class="bg-white section-shadow sign-margin">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <h3 class="heading-sign">Sign Up</h3>
            <form class="form-sign-in formusrregistration" method="post" >
                <div class="radio-option">
                    <label class="custom-control custom-radio">
                        @Html.RadioButtonFor(m => m.UserRegistrationType, "2", new { @checked = "checked", @class = "custom-control-input", @onchange = "CheckIsMerchant(this);" })
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description"> I am a Buyer</span>
                    </label>
                    <label class="custom-control custom-radio">
                        @Html.RadioButtonFor(m => m.UserRegistrationType, "3", new { @class = "custom-control-input", @onchange = "CheckIsMerchant(this);" })
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">I am a Merchant</span>
                    </label>
                </div>
                <div class="radio-option">
                    <label class="custom-control custom-radio">
                        @Html.RadioButtonFor(m => m.CompanyorIndividual, "Company", new { @class = "custom-control-input checkboxcompany" })
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Company</span>
                    </label>
                    <label class="custom-control custom-radio">
                        @Html.RadioButtonFor(m => m.CompanyorIndividual, "Individual", new { @class = "custom-control-input" })
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Individual</span>
                    </label>
                    <label>
                        (Mandatory if user is of type "Merchant".)
                    </label>
                </div>
                <div class="form-group">
                    <div class="map-form form-icon">
                        @Html.TextBoxFor(m => m.FullName, new { @class = "form-control", @placeholder = "Your Name" })
                        @Html.ValidationMessageFor(m => m.FullName)
                        <label class="icon-map"><i class="fa fa-user" aria-hidden="true"></i></label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="map-form form-icon">
                        @Html.TextBoxFor(m => m.EmailAddress, new { @class = "form-control", @placeholder = "Your Email", @type = "email" })
                        @Html.ValidationMessageFor(m => m.EmailAddress)
                        <label class="icon-map"><i class="fa fa-envelope" aria-hidden="true"></i></label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="map-form form-icon">
                        @Html.TextBoxFor(m => m.MobileNumber, new { @class = "form-control", @placeholder = "Mobile Phone Number" })
                        @Html.ValidationMessageFor(m => m.MobileNumber)
                        <label class="icon-map"><i class="fa fa-phone" aria-hidden="true"></i></label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="map-form form-icon">
                        @Html.DropDownListFor(m => m.BusinessTypeGuid, Model.BusinessTypeList.Select(x => new SelectListItem { Text = x.BusinessTypeName, Value = x.BusinessTypeGuid.ToString() }), "--Choose a Business Type--", new { @class = "chosen-select businesstype", @placeholder = "Choose a Business Type.." })
                        @Html.ValidationMessageFor(m => m.BusinessTypeGuid)
                        <label class="icon-map"><i class="fa fa-map-marker" aria-hidden="true"></i></label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="map-form form-icon">
                        @Html.TextBoxFor(m => m.BillingAddress.Address, new { @class = "form-control", @placeholder = "Address" })
                        <label class="icon-map"><i class="fa fa-map-marker" aria-hidden="true"></i></label>
                        @*<select class="form-control">
                    <option>Your Address</option>
                </select>
                <label class="icon-map"><i class="fa fa-map-marker" aria-hidden="true"></i></label>*@
                    </div>
                </div>
                <div class="form-group">
                    <div class="map-form form-icon">
                        @Html.DropDownListFor(m => m.BillingAddress.CityGuid, Model.Cities.Select(x => new SelectListItem { Text = x.CityName, Value = x.CityGuid.ToString() }), "--Choose a City--", new { @class = "chosen-select selectedcity", @placeholder = "Choose a city.." })
                        @Html.ValidationMessageFor(m => m.CityGuid)

                        <label class="icon-map"><i class="fa fa-map-marker" aria-hidden="true"></i></label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="map-form form-icon">
                        @Html.TextBoxFor(m => m.BillingAddress.PostCode, new { @class = "form-control", @placeholder = "Post Code" })
                        <label class="icon-map"><i class="fa fa-map-marker" aria-hidden="true"></i></label>
                    </div>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input useragreement" type="checkbox"> Accept <a href="#">User Agreement</a>
                    </label>
                </div>
                <div class="form-group">
                    <button onclick="return Checkagreement();" type="submit" class="btn btn-primary btn-lg">SIGN UP</button>
                    <p class="button-link">Already have an account? <a href="/Home/login">Sign in</a></p>
                </div>
            </form>
        </div>
        @*<div class="col-lg-6 col-md-12 col-sm-12">
            <div class="right-content-form">
                @{ Html.RenderPartial("~/Views/Home/_socialMediaLogin.cshtml");}
            </div>
        </div>*@
    </div>
</div>
