@model Bringly.Domain.Paging

@if (Model == null) { return; }

<div class="download-button">


    <nav class="nav-pagination">
        <ul class="pagination justify-content-center">

            @if (Model.CurrentPage != 1)
            {
                <li class="page-item" title="First"><a class="page-link" href="@Model.QueryString&page=1" title="First"><i class="fa fa-angle-double-left"></i></a></li>
                <li class="page-item" title="Previous"><a class="page-link" href="@Model.QueryString&page=@(Convert.ToInt32(Model.CurrentPage) - 1)" title="Previous"><i class="fa fa-angle-left"></i></a></li>
            }
            @for (int i = Model.FirstIndex; i < Model.LastIndex; i++)
            {
                if (Model.CurrentPage == i)
                {
                    <li class="page-item active"><a class="page-link" href="javascript:void()">@i</a></li>
                }
                else
                {
                    <li class="page-item"><a class="page-link" href="@Model.QueryString&page=@i">@i</a></li>

                }
            }
            @if (Model.CurrentPage != Model.LastPage)
            {
                <li title="Next" class="page-item"><a class="page-link" href="@Model.QueryString&page=@(Convert.ToInt32(Model.CurrentPage) + 1)" title="Next"><i class="fa fa-angle-right"></i></a></li>
                <li title="Last" class="page-item">
                    <a title="Last" class="page-link" href="@Model.QueryString&page=@(Convert.ToInt32(Model.LastPage))"><i class="fa fa-angle-double-right"></i></a>
                </li>
            }
        </ul>
    </nav>
</div>
