@model Bringly.Domain.User.UserProfile
@{
    ViewBag.Title = "AddEditManager";
    Layout = "~/Views/Shared/MasterPages/AuthorizeUserMaster.cshtml";
}

@section BreadCrum{
    <li class="breadcrumb-item active">User Rebgistration</li>
}
<div class="col-lg-9 col-md-7 col-sm-12">
    <div class="right-side">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <form role="form" method="post">
                    @Html.HiddenFor(m => m.UserGuid)
                    <div class="card personal-information">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-lg-10 col-md-9 col-sm-8">
                                    <h2 class="heading-sub">@(Model.UserGuid != Guid.Empty ? "Update" : "Add") Manager</h2>
                                </div>
                                <div class="col-lg-2 col-md-3 col-sm-4">
                                </div>
                            </div>
                        </div>
                        <div class="card-block">
                            <div class="form-group row">
                                <label class="col-xl-4 col-lg-4 col-md-5 col-sm-12 col-form-label">
                                    <span>Name<span class="required"> *</span> :</span>
                                </label>
                                <div class="col-xl-8 col-lg-8 col-md-7 col-sm-12 col-form-label">
                                    @Html.TextBoxFor(m => m.FullName, new { @class = "form-control", @placeholder = "Manager Name...", })
                                    @Html.ValidationMessageFor(m => m.FullName)
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-xl-4 col-lg-4 col-md-5 col-sm-12 col-form-label">
                                    <span>E-mail<span class="required"> *</span> :</span>
                                </label>
                                <div class="col-xl-8 col-lg-8 col-md-7 col-sm-12 col-form-label">
                                    @Html.TextBoxFor(m => m.EmailAddress, new { @class = "form-control", @placeholder = "Manager Email...", @type = "email", @onchange = "checkUserEmailAlreadyExitsOrNot(4)" })
                                    @Html.ValidationMessageFor(m => m.EmailAddress)
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-xl-4 col-lg-4 col-md-5 col-sm-12 col-form-label">
                                    <span>Mobile Number:</span>
                                </label>
                                <div class="col-xl-8 col-lg-8 col-md-7 col-sm-12 col-form-label">
                                    @Html.TextBoxFor(m => m.MobileNumber, new { @class = "form-control", @onKeyPress = "if(this.value.length==10) return false;", @placeholder = "Manager Contact Number...", @type = "number" })
                                    @Html.ValidationMessageFor(m => m.MobileNumber)
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-xl-4 col-lg-4 col-md-5 col-sm-12 col-form-label">
                                    <span>Role<span class="required"> *</span> :</span>
                                </label>
                                <div class="col-xl-8 col-lg-8 col-md-7 col-sm-12 col-form-label">
                                    @Html.DropDownListFor(m => m.RoleGuid, Model.RolesList.Select(x => new SelectListItem { Text = x.RoleName, Value = x.RoleGuid.ToString(), Selected = (x.RoleGuid == Model.RoleGuid) }), "", new { })
                                    @Html.ValidationMessageFor(m => m.RoleGuid)
                                </div>
                            </div>
                        </div>
                        <div class="card-block">
                            <div class="form-group row">
                                <div class="col-xl-4 col-lg-4 col-md-5 col-sm-12 col-form-label"></div>
                                <div class="col-xl-8 col-lg-8 col-md-7 col-sm-12 col-form-label">
                                    <button type="submit" class="btn btn-primary btn-lg">Save</button>  <a href="/user/ManageManagers" class="btn btn-primary btn-lg">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>