
@model Bringly.Domain.User.UserProfile

@{
    ViewBag.Title = "Edit Personal Information";
    Layout = "~/Views/Shared/MasterPages/AuthorizeUserMaster.cshtml";
}
@section BreadCrum{
    <li class="breadcrumb-item active">Personal Information</li>
}
<div class="col-lg-9 col-md-7 col-sm-12">
    <div class="right-side">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <form role="form" method="post">
                    @Html.HiddenFor(m => m.UserGuid)
                    <div class="card personal-information info">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-lg-10 col-md-9 col-sm-8">
                                    <h5 class="heading-sub">Edit Personal Information</h5>
                                </div>
                                <div class="col-lg-2 col-md-3 col-sm-4">
                                </div>
                            </div>
                        </div>
                        <div class="card-block">
                            <div class="form-group row">
                                <label class="col-xl-4 col-lg-4 col-md-5 col-sm-12 col-form-label">
                                    <span>Name<span class="required"> *</span> :</span>
                                </label>
                                <div class="col-xl-8 col-lg-8 col-md-7 col-sm-12 col-form-label">
                                    @Html.TextBoxFor(m => m.FullName, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.FullName)
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-xl-4 col-lg-4 col-md-5 col-sm-12 col-form-label">
                                    <span>E-mail<span class="required"> *</span> :</span>
                                </label>
                                <div class="col-xl-8 col-lg-8 col-md-7 col-sm-12 col-form-label">
                                    @Html.TextBoxFor(m => m.EmailAddress, new { @class = "form-control", @readonly = true })
                                    @Html.ValidationMessageFor(m => m.EmailAddress)
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-xl-4 col-lg-4 col-md-5 col-sm-12 col-form-label">
                                    <span>Mobile Number:</span>
                                </label>
                                <div class="col-xl-8 col-lg-8 col-md-7 col-sm-12 col-form-label">
                                    @Html.TextBoxFor(m => m.MobileNumber, new { @class = "form-control", @type = "number" })
                                    @Html.ValidationMessageFor(m => m.MobileNumber)
                                </div>
                            </div>
                        </div>

                        @if (Model.UserRegistrationType == "3")
                        {
                            <div class="card-header">
                                <div class="row">
                                    <div class="col-lg-10 col-md-9 col-sm-8">
                                        <h5 class="heading-sub">Business Information</h5>
                                    </div>
                                    <div class="col-lg-2 col-md-3 col-sm-4">
                                    </div>
                                </div>
                            </div>
                            <div class="card-block">
                                <div class="form-group row">
                                    <label class="col-xl-4 col-lg-4 col-md-5 col-sm-12 col-form-label">
                                        <span>CVR Number:</span>
                                    </label>
                                    <div class="col-xl-8 col-lg-8 col-md-7 col-sm-12 col-form-label">
                                        @Html.TextBoxFor(m => m.CVRNumber, new { @class = "form-control", @onKeyPress = "if(this.value.length==10) return false;", @type = "number" })
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="card-header">
                            <div class="row">
                                <div class="col-lg-10 col-md-9 col-sm-8">
                                    <h5 class="heading-sub">Billing Information</h5>
                                </div>
                                <div class="col-lg-2 col-md-3 col-sm-4">
                                </div>
                            </div>
                        </div>
                        <div class="card-block">
                            <div class="form-group row">
                                <label class="col-xl-4 col-lg-4 col-md-5 col-sm-12 col-form-label">
                                    <span>Billing Address:</span>
                                </label>
                                <div class="col-xl-8 col-lg-8 col-md-7 col-sm-12 col-form-label">
                                    @Html.TextBox("BillingAddress_Address", Model.BillingAddress.Address, new { @class = "form-control" })
                                    @Html.ValidationMessage("BillingAddress_Address")
                                    @Html.Hidden("BillingAddress_UserAddressGuid", Model.BillingAddress.UserAddressGuid)
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-xl-4 col-lg-4 col-md-5 col-sm-12 col-form-label">
                                    <span>City:</span>
                                </label>
                                <div class="col-xl-8 col-lg-8 col-md-7 col-sm-12 col-form-label">
                                    @Html.DropDownList("BillingAddress_CityGuid", Model.Cities.Select(t => new SelectListItem { Text = t.CityName, Value = t.CityGuid.ToString(), Selected = (t.CityGuid == Model.BillingAddress.CityGuid) }), " ", new { @class = "form-control" })
                                    @Html.ValidationMessage("BillingAddress_CityGuid")
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-xl-4 col-lg-4 col-md-5 col-sm-12 col-form-label">
                                    <span>PostCode:</span>
                                </label>
                                <div class="col-xl-8 col-lg-8 col-md-7 col-sm-12 col-form-label">
                                    @Html.TextBox("BillingAddress_PostCode", Model.BillingAddress.PostCode, new { @class = "form-control", @type = "number" })
                                    @Html.ValidationMessage("BillingAddress_PostCode")
                                </div>
                            </div>
                        </div>
                        <div class="card-header">
                            <div class="row">
                                <div class="col-lg-10 col-md-9 col-sm-8">
                                    <h5 class="heading-sub">Shipping Information</h5>
                                </div>
                                <div class="col-lg-2 col-md-3 col-sm-4">
                                </div>
                            </div>
                        </div>
                        <div class="card-block">
                            <div class="form-group row">
                                <label class="col-xl-4 col-lg-4 col-md-5 col-sm-12 col-form-label">
                                    <span>Shipping Address:</span>
                                </label>
                                <div class="col-xl-8 col-lg-8 col-md-7 col-sm-12 col-form-label">
                                    @Html.TextBox("ShippingAddress_Address", Model.ShippingAddress.Address, new { @class = "form-control" })
                                    @Html.ValidationMessage("ShippingAddress_Address")
                                    @Html.Hidden("ShippingAddress_UserAddressGuid", Model.ShippingAddress.UserAddressGuid)
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-xl-4 col-lg-4 col-md-5 col-sm-12 col-form-label">
                                    <span>City:</span>
                                </label>
                                <div class="col-xl-8 col-lg-8 col-md-7 col-sm-12 col-form-label">
                                    @Html.DropDownList("ShippingAddress_CityGuid", Model.Cities.Select(t => new SelectListItem { Text = t.CityName, Value = t.CityGuid.ToString(), Selected = (t.CityGuid == Model.ShippingAddress.CityGuid) }), " ", new { @class = "form-control" })
                                    @Html.ValidationMessage("ShippingAddress_CityGuid")
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-xl-4 col-lg-4 col-md-5 col-sm-12 col-form-label">
                                    <span>PostCode:</span>
                                </label>
                                <div class="col-xl-8 col-lg-8 col-md-7 col-sm-12 col-form-label">
                                    @Html.TextBox("ShippingAddress_PostCode", Model.ShippingAddress.PostCode, new { @class = "form-control", @type = "number" })
                                    @Html.ValidationMessage("ShippingAddress_PostCode")
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-xl-4 col-lg-4 col-md-5 col-sm-12 col-form-label"></div>
                                <div class="col-xl-8 col-lg-8 col-md-7 col-sm-12 col-form-label">
                                    <button onclick="return Checkcvrnumber('@Model.UserRegistrationType');" type="submit" class="btn btn-primary btn-lg">Save</button>  <a href="/user/personalinformation" class="btn btn-primary btn-lg">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
